<nav class="navbar bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Room for 1 person</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Room for 2 person</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Room for 3 person</a>
    </li>
  </ul>
</nav>
	